@font-face {
  font-family: "iconfont"; /* Project id 3401478 */
  src: url('iconfont.woff2?t=1656333229761') format('woff2'),
       url('iconfont.woff?t=1656333229761') format('woff'),
       url('iconfont.ttf?t=1656333229761') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e718";
}

.icon-bianji:before {
  content: "\e65e";
}

.icon-Close:before {
  content: "\e665";
}

.icon-new:before {
  content: "\e610";
}

.icon-more:before {
  content: "\e710";
}

.icon-uncollect:before {
  content: "\e79a";
}

.icon-collect:before {
  content: "\e601";
}

.icon-message:before {
  content: "\e600";
}

